version: "3.9"
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: tickify_user
      POSTGRES_PASSWORD: tickify_pass
      POSTGRES_DB: tickify
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@tickify.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"

volumes:
  pgdata:
